<%= form_for(@text_post, method => :delete) do |f| %>
<div class="field">
  <%= f.label :url %><br>
  <%= f.text_field :url %>
</div>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :blog %><br>
  <%= f.text_field :blog %><br>

  <p> Are you sure you want to delete this post?<p>
    <div class="actions">
      <%= f.method => :destroy %>
    </div>
<%= link_to "Back", text_posts_path %>
<% end %>
