<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="TLE and Me" src="navimage.png"></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">


        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
          <% if user_signed_in? %>
          <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
          <li class="<%= 'active' if params[:controller] == 'image_links' %>"><%= link_to "Images", image_links_path %></li>
          <li class="<%= 'active' if params[:controller] == 'text_posts' %>"><%= link_to "Texts", text_posts_path  %></li>
          <li class="<%= 'active' if params[:controller] == 'forums' %>"><%= link_to "Forums", forem.forums_path %><li>

        <% end %>
        </ul>

         <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :type=>"button", :class => "btn btn-default btn-sm navbar-btn") if user_signed_in? %>
         <% if user_signed_in? && current_user.forem_admin %>
      | <%= link_to "Administrate", forem.admin_root_url %>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
