<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TLE and ME</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">


        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><a><href="/" img src="/assets/character-social-api-01.png" alt="Home" style="width: 15%"></a></li>
          <% if user_signed_in? %>
              <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
              <% end %>
          <li class="<%= 'active' if params[:controller] == 'image_links' %>"><%= link_to "Images", image_links_path %></li>
          <li class="<%= 'active' if params[:controller] == 'text_posts' %>"><%= link_to "Texts", text_posts_path  %></li>

        </ul>

         <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :type=>"button", :class => "btn btn-default btn-sm navbar-btn") if user_signed_in? %>
        <% end %>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
