<% @image_links.each do |image_link| %>
  <%= div_for image_link do %>
  <p>
  <%= link_to "New Image Link", controller: "image_links", action: "new" %>
  </p>
 
   <div class="col-sm-12">
    <h2><%= image_link.title %></h2>
    <%= image_tag image_link.url, :class => 'image-link-image thumbnail' %>
    </div>

    <div class='col-sm-12 col-md-10'>
    <span class='total-likes'><%= image_link.likes.count %></span> likes
    </div>
    <div class="col-sm-12 col-md-2">
    <%= form_for Like.new, :remote => true do |f| %>
      <%= f.hidden_field :likeable_type, :value => image_link.class %>
      <%= f.hidden_field :likeable_id, :value => image_link.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Like", :class=>'btn btn-primary btn-lg' %>
    <% end %>
    </div>
    <hr>
  <% end %>
<% end %>