<!doctype html>
<html>
<head>
  <title>TLE and ME</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Poiret+One" %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">TLE and ME</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">


          <ul class="nav navbar-nav">
            <li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
            <% if user_signed_in? %>
            <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
            <li class="<%= 'active' if params[:controller] == 'image_links' %>"><%= link_to "Images", image_links_path %></li>
            <li class="<%= 'active' if params[:controller] == 'text_posts' %>"><%= link_to "Texts", text_posts_path %></li>
            <li class="<%= 'active' if params[:controller] == 'forums' %>"><%= link_to "Forums", forem.forums_path %><li>

          <% end %>
          </ul>

           <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :type=>"button", :class => "btn btn-default btn-sm navbar-btn") if user_signed_in? %>
           <% if user_signed_in? && current_user.forem_admin %>
        | <%= link_to "Administrate", forem.admin_root_url %>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container-fluid">
      <div class="starter-template">
        <p><%= notices %></p>
        <%= yield %>
      </div>
    </div><!-- /.container -->

     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
     <!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
